{% extends 'baseparaprendas.html' %}

{% block title_head %}
<title>Nuevos Ingresos: </title>
{% endblock title_head %}

{% block contenido_encabezado %}
    <div class="prendas-grid">
        {% for prenda in nuevas_prendas %}
            <div class="prenda-item">
                <h2>{{ prenda.Titulo }}</h2>
                <p>{{ prenda.Marca }}</p>
                <p>{{ prenda.Descripcion }}</p>
                <p>Vendedor: {{ prenda.Vendedor }}</p>
                <p>Fecha: {{ prenda.Fecha }}</p>
                <p>Precio: {{ prenda.Precio }}</p>
                <!-- Formulario de comentario -->
                <form method="POST" action="{% url 'guardar_comentario' prenda.id %}">
                    {% csrf_token %}
                    <input type="text" name="comentario" placeholder="Escribe tu comentario aquí" required>
                    <button type="submit">Enviar comentario</button>
                </form>
                <div class="comentarios">
                    {% for comentario in prenda.comentarios.all %}
                        <p>{{ comentario.texto }}</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contenido_encabezado %}
