
{% extends 'basedef.html' %}

{% block title_head %}
<title>Agregar Una Nueva Prenda al Shop: </title>
{% endblock title_head %}


{% block contenido_encabezado %}

{% if user.is_authenticated %}
    <p>Bienvenido, {{ user.email }}</p>
    <!-- Contenido adicional para usuarios autenticados -->
{% else %}
    <p>Por favor, <a href="{% url 'iniciar_sesion' %}">inicia sesión</a> para acceder.</p>
{% endif %}


<body>
    <h1>Subir Prenda</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Prenda</button>
    </form>
</body>


{% endblock contenido_encabezado %}




