<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% block head_css %}

    <link rel="stylesheet" href="{% static 'css/nuevaprenda.css' %}">
    {% endblock head_css %}


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    {% block title_head %}
    <title> Base </title>
    {% endblock title_head %}
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
        type="text/css" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
        type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    
    <!-- Custom CSS for positioning elements -->

</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Vintage Store</a>
            <a class="navbar-brand" href="{% url 'prendas' %}">Comprar</a>
            <a class="navbar-brand" href="{% url "nuevos_ingresos" %}">NEW IN</a>
            <a class="navbar-brand" href="{% url "subir_prenda" %}">Vender</a>
            <a class="navbar-brand" href="{% url 'registro_usuario' %}">Registrarme</a>
            <a class="navbar-brand" href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a>
            
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead" style="background-image: url('https://fashionista.com/.image/t_share/MTUwNzI3NjY3OTE2ODc1MzAy/what-goes-around-comes-around-new-york.jpg');">
        <div class="overlay"></div>
        <div class="form-container">
            {% block contenido_encabezado %}{% endblock contenido_encabezado %}
        </div>
    </header>

    <!-- Resto del contenido de la página -->
    {% block contenido_pagina %}{% endblock contenido_pagina %}

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
</body>

</html>
